
<h1>Edit User</h1>

<form action="/users/{{userId}}?_method=PUT" method="POST">
    <input type="text" name="firstName" placeholder="{{user.firstName}}">
    <input type="text" name="lastName" placeholder="{{user.lastName}}">
   <input type="text" name="userName" placeholder="Username">
    <input type="email" placeholder="email" name="Email" required>
    <a href="/users"><input type="submit" value="Edit"></a>
</form>